numpy==1.19.2
scipy==1.5.3
text2emotion==0.0.5
progress==1.5
python_speech_features==0.6
matplotlib==3.3.2
SpeechRecognition==3.8.1
wordcloud==1.8.1
jiwer==2.2.0
beautifulsoup4==4.9.3
scikit_learn==0.24.2
