<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skoky do řeči</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="online_session.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
<h2 class="text-center">Tabulka skoků do řeči příslušných řečníků</h2>
<p class="param_text">Zvýrazněny jsou transkripce řečníká, který skočil do řeči tomu druhému.</p>
<table class="w3-table sortable" id="interruptions_table">
    <thead class="table-header">
    <tr>
        <th>Čas [min:s]</th>
        <th>Délka [s]</th>
        <th>Transkcripce terapeuta</th>
        <th>Transkcripce klienta</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
</html>