<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Souhrnná zpráva o sezení</title>
    <link rel="stylesheet" href="online_session.css">
</head>

<body>
<h1 id="session_title">Souhrnná zpráva o sezení č. ###</h1>
<div class="param">
    <h2 class="param_title">Poměr řeči/ticha</h2>
    <div class="row_picture">
        <div class="image_caption">
            <img id="figure-silence_ratio_therapist" src="placeholder.png" alt="Silence_ratio">
            <p class="param_text" id="silence_ratio_therapist">Poměr mluvy a ticha terapeuta</p>
        </div>
        <div class="image_caption">
            <img id="figure-silence_ratio_client" src="placeholder.png" alt="Silence_ratio">
            <p class="param_text" id="silence_ratio_client">Poměr mluvy a ticha klienta</p>
        </div>
    </div>
</div>

<div class="param">
    <h2 class="param_title">Poměr mluvy</h2>
    <div class="row_picture">
        <div class="image_caption">
            <img id="figure-speech_ratio" src="placeholder.png" alt="Speech_ratio">
            <p class="param_text" id="speech_ratio_current">###</p>
        </div>
        <div class="image_caption">
            <img id="figure-speech_ratio_overall" src="placeholder.png"
                 alt="Speech_ratio_overall">
            <p class="param_text" id="speech_ratio_overall">###</p>
        </div>
    </div>
</div>

<div class="param">
    <h2>Hlasitost</h2>
    <div>
        <div class="image_caption">
            <img id="figure-therapist_volume" src="placeholder.png" alt="Volume_therapist">
            <p class="param_text" id="therapist_volume">Hlasitost terapeuta v průběhu času</p>
        </div>
        <div class="image_caption">
            <img id="figure-client_volume" src="placeholder.png" alt="Volume_client">
            <p class="param_text" id="client_volume">Hlasitost klienta v průběhu času</p>
        </div>
    </div>

    <p>Následující tabulka poukazuje na energeticky nejvýznamější segmenty řeči mluvčích. Je pravděpodobné, že v těchto
        momentech chtěl mluvčí zdůraznit určitý aspekt. Mohlo taktéž dojít k rozrušení mluvčího.</p>
    <table id="volume_text_table">
        <thead>
        <tr>
            <th>Start</th>
            <th>Délka [s]</th>
            <th>Mlvučí</th>
            <th>Násobek průměrné hlasitosti</th>
            <th>Přepis</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="param">
    <h2>Emoce klienta</h2>
    <div class="image_caption">
        <img id="figure-client_mood" src="placeholder.png" alt="Client_mood">
        <p class="param_text" id="client_mood">Klient</p>
    </div>
</div>

<div class="param">
    <h2 class="param_title">Nejčastěji používaná slova</h2>
    <div class="row_picture">
        <div class="image_caption">
            <img id="figure-therapist_cloud" src="placeholder.png" alt="Words_therapist">
            <p class="param_text" id="therapist_cloud">Terapeut</p>
        </div>
        <div class="image_caption">
            <img id="figure-client_cloud" src="placeholder.png"
                 alt="Words_client">
            <p class="param_text" id="client_cloud">Klient</p>
        </div>
    </div>
</div>

<div class="param">
    <h2 class="param_title">Mimoslovní složky hlasového projevu</h2>
    <div class="row_picture">
        <div class="image_caption">
            <img id="figure-therapist_fills" src="placeholder.png" alt="Fills_therapist">
            <p class="param_text" id="therapist_fills">Terapeut</p>
        </div>
        <div class="image_caption">
            <img id="figure-client_fills" src="placeholder.png"
                 alt="Fills_client">
            <p class="param_text" id="client_fills">Klient</p>
        </div>
    </div>
</div>

<div class="param">
    <h2>Skoky do řeči</h2>
    <!--    <div class="row_picture">-->
    <!--        <div class="image_caption">-->
    <!--            <img id="figure-therapist_cross_talks" src="placeholder.png" alt="Therapist_cross_talks">-->
    <!--            <p class="param_text" id="therapist_cross_talks">Terapeut</p>-->
    <!--        </div>-->
    <!--        <div class="image_caption">-->
    <!--            <img id="figure-client_cross_talks" src="placeholder.png" alt="Client_cross_talks">-->
    <!--            <p class="param_text" id="client_cross_talks">Klient</p>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="row_picture">
        <div class="image_caption">
            <img id="figure-therapist_interruptions" src="placeholder.png" alt="Therapist_interruptions">
            <p class="param_text" id="therapist_interruptions">Terapeut</p>
        </div>
        <div class="image_caption">
            <img id="figure-client_interruptions" src="placeholder.png" alt="Client_interruptions">
            <p class="param_text" id="client_interruptions">Klient</p>
        </div>
    </div>
</div>

<div class="param">
    <h2>Reakční doba</h2>
    <div class="row_picture">
        <div class="image_caption">
            <img id="figure-reaction_time_therapist" src="placeholder.png" alt="Therapist_reactions">
            <p class="param_text" id="reaction_time_therapist">Terapeut</p>
        </div>
        <div class="image_caption">
            <img id="figure-reaction_time_client" src="placeholder.png" alt="reactions">
            <p class="param_text" id="reaction_time_client">Klient</p>
        </div>
    </div>
</div>

<div class="param">
    <h2>Délka vět</h2>
    <div class="row_picture">
        <div class="image_caption">
            <img id="figure-bounds_len_therapist" src="placeholder.png" alt="Therapist_bounds_len">
            <p class="param_text" id="bounds_len_therapist">Terapeut</p>
        </div>
        <div class="image_caption">
            <img id="figure-bounds_len_client" src="placeholder.png" alt="Client_bounds_len">
            <p class="param_text" id="bounds_len_client">Klient</p>
        </div>
    </div>
</div>

<div class="param">
    <h2>Rychlost řeči</h2>
    <div class="row_picture">
        <div class="image_caption">
            <img id="figure-speed_therapist" src="placeholder.png" alt="Therapist_speed">
            <p class="param_text" id="speed_therapist">Terapeut</p>
        </div>
        <div class="image_caption">
            <img id="figure-speed_client" src="placeholder.png" alt="Client_speed">
            <p class="param_text" id="speed_client">Klient</p>
        </div>
    </div>
</div>

<div class="param">
    <h2>Váhaní v monologu</h2>
    <div class="row_picture">
        <div class="image_caption">
            <img id="figure-hesitations_therapist" src="placeholder.png" alt="Therapist_hesitations">
            <p class="param_text" id="hesitations_therapist">Terapeut</p>
        </div>
        <div class="image_caption">
            <img id="figure-hesitations_client" src="placeholder.png" alt="Client_hesitations">
            <p class="param_text" id="hesitations_client">Klient</p>
        </div>
    </div>
</div>

<div class="attachments">
    <h2>Přílohy</h2>
    <a id="attachment-transcription" href="" download="Transcription">
        Transkripce
    </a>

    <a id="attachment-audio" href="" download="Audio">
        Audio nahrávka
    </a>

    <a id="attachment-vad" href="" download="VAD">
        Detekce řečové aktivity
    </a>
</div>

</body>
</html>